body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
.map-container {
  width: 100%;
  max-width: 100%;
  height: 700px;
}

#new_event_form .map-container {
  height: 40%;
}